@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



a {
    font-family: Lato;
}

p {
    font-family: Lato;
}

/* HEADER_QISMI */

.navbar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.nav_links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-left: 150px;
    list-style: none;
}

/* NAV_LINK_LEFT */


.nav_link_left {

    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 8px 4px;
    transition: all 0.3s ease;
    display: inline-block;
}

/*YAQINLASHUV EFFEKTI */

.nav_link_left:hover {
    transform: scale(1.05);
    color: #28a745;
}

/* CHIZIQ ANIMATSIYASI*/

.nav_link_left::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #28a745;
    transition: width 0.3s ease;
}

.nav_link_left:hover::after {
    width: 100%;
}


/* NAV_LINK_RIGHT */


.nav_links_right {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 247px;
}

.nav_link_right {
    color: #000;
    padding: 13px;
    transition: all 0.3s ease;

}

.nav_link_right:hover {
    background-color: #28a745;
    color: #fff;
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4);
    border-radius: 4px;
}


/* MAIN_QISMI */

.main {
    margin-top: 20px;
    background-image: url('../img/Menu.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.main_box {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
padding-right: 700px;
}

.main_title {
    font-family: Noto+Sans+Georgian;
    font-size: 60px;
    color: #01996D;
}

.main_text {
    font-size: 20px;
    color: #484848;
    line-height: 157%;
}

/* MAIN_BTN */

.main_btn {
    background-color: #01996D;

    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 20px 50px;
margin-right: 50px;
}